<div class="dashboard">
    <div class="dashboard__sub-header">
        <div class="dashboard__sub-header-left">
            <button mat-button [matMenuTriggerFor]="userMenu"><mat-icon>keyboard_arrow_down</mat-icon> {{ 'dashboard.welcome' | translate:{value: username} }}</button>
            <mat-menu #userMenu="matMenu">
                <button (click)="logout()" mat-menu-item>{{ 'top-navbar.logout' | translate }}</button>
            </mat-menu>
        </div>
        <div class="dashboard__sub-header-right">
            <button class="mobile" color="primary" *ngIf="user.isAdmin" mat-mini-fab (click)="adminProduct()">
                <mat-icon>plus_one</mat-icon>
            </button>
            <button (click)="drawer.toggle()" [disabled]="carItems === 0" mat-mini-fab color="accent" aria-label="Car icon">
                <mat-icon>shopping_cart</mat-icon> {{carItems}}
            </button>
            <button *ngIf="!isOpenStore" mat-mini-fab [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openStore()">
                    <mat-icon>launch</mat-icon>
                    <span>{{ 'sells.open-store' | translate }}</span>
                </button>
            </mat-menu>
        </div>
    </div>
    
    <mat-drawer-container autosize class="dashboard__wrapper-container">
        <div class="dashboard__header">
            <form class="dashboard__header-form">
                <mat-form-field subscriptSizing="dynamic" class="example-full-width">
                  <mat-label>{{ 'dashboard.filters.search' | translate }}</mat-label>
                  <input type="text" matInput placeholder="Type to search..." (keyup)="applyFilter($event)" #input>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
                <mat-form-field subscriptSizing="dynamic">
                    <mat-label>{{ 'common.category' | translate }}</mat-label>
                    <select 
                        matNativeControl
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="selectedCategory"
                        (change)="updateProductsList()" 
                    >
                      <option value="all">{{ 'dashboard.filters.all' | translate }}</option>
                      <option value="drink">{{ 'dashboard.filters.drinks' | translate }}</option>
                      <option value="foot">{{ 'dashboard.filters.food' | translate }}</option>
                      <option value="medicine">{{ 'dashboard.filters.medicines' | translate }}</option>
                      <option value="cleaning">{{ 'dashboard.filters.cleaning' | translate }}</option>
                      <option value="snack">{{ 'dashboard.filters.snacks' | translate }}</option>
                      <option *ngIf="user.isAdmin" value="test">{{ 'dashboard.filters.test' | translate }}</option>
                      <option value="other">{{ 'dashboard.filters.other' | translate }}</option>
                    </select>
                </mat-form-field>
            </form>
        </div>

        <div class="dashboard__wrapper">
            <table mat-table [dataSource]="products" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let index = index" class="desktop"><small>{{index + 1}}</small></td>
                </ng-container>
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.products-list.code' | translate }} </th>
                    <td mat-cell *matCellDef="let element" class="desktop"> {{element.id.substr(0,2) + element.id.substr(element.id.length - 2,2)}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.products-list.name' | translate }} </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div class="desktop">
                            {{element.name}} 
                            @if (user.isAdmin) {
                                <br/>
                                <small>{{element.quantity}} x {{element.units}} {{ 'dashboard.products-list.units' | translate }}</small>
                            }
                        </div>
                        <div class="mobile">
                            <div class="mobile__top">
                                <div>
                                    <div class="mobile__tag">
                                        <label class="title">{{element.name}}</label>
                                        <br/>
                                        <div>
                                            <span class="label">{{ 'dashboard.products-list.price' | translate }}: </span>
                                            <label class="subtitle">{{element.price | currency : 'USD' : 'symbol' : '1.0-0'}}</label>
                                        </div>
                                        <div>
                                            <span class="label">{{ 'dashboard.new-product.available' | translate }}: </span>
                                            <label class="subtitle">{{element.available}}<span *ngIf="user.isAdmin">/{{element.units * element.quantity}}</span></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="mobile__tag dashboard__status">
                                        <div [ngClass]="{
                                            'red': (element.available * 100 / (element.units * element.quantity)) <= 33, 
                                            'yellow': (element.available * 100 / (element.units * element.quantity)) > 33 && (element.available * 100 / (element.units * element.quantity)) <= 66,
                                            'green': (element.available * 100 / (element.units * element.quantity)) > 66,
                                            'empty': (element.available * 100 / (element.units * element.quantity)) === 0
                                            }">
                                            <span>{{element.available * 100 / (element.units * element.quantity)  | number:'1.0-0'}}</span>%
                                            <div class="dashboard__status-progress">
                                                <div class="progress-fill" style="height: 4px; width: {{ element.available * 100 / (element.units * element.quantity) }}%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mobile__tag">
                                        <button *ngIf="user.isAdmin" mat-mini-fab (click)="adminProduct(element)">
                                            <mat-icon>edit</mat-icon>
                                            <label class="label">{{ 'common.edit' | translate }}</label>
                                        </button>
                                        <button [disabled]="!isOpenStore" mat-mini-fab (click)="addToCar(element)" color="primary">
                                            <mat-icon>add_shopping_cart</mat-icon>
                                            <label class="label">{{ 'dashboard.products-list.add' | translate }}</label>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile__bottom">
                                <div>
                                    <span class="label">{{ 'dashboard.products-list.code' | translate }}: </span>
                                    <label class="subtitle">{{element.id.substr(0,2) + element.id.substr(element.id.length - 2,2)}}</label>
                                </div>
                                <div class="mobile__bottom-tag">
                                    <span class="label">{{ 'dashboard.products-list.value' | translate }}: </span>
                                    <label class="subtitle">{{ element.value / (element.units * element.quantity) | currency : 'USD' : 'symbol' : '1.0-0'}}</label>
                                </div>
                                <div class="mobile__bottom-tag">
                                    <span class="label">{{ 'dashboard.products-list.earn' | translate }}: </span>
                                    <label class="subtitle">{{ (element.price - (element.value / (element.units * element.quantity) )) | currency : 'USD' : 'symbol' : '1.0-0'}}</label>
                                </div>
                                <div class="mobile__bottom-tag">
                                    @if (user.isAdmin) {
                                        <small>{{element.quantity}} x {{element.units}} {{ 'dashboard.products-list.units' | translate }}</small>
                                    }
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell class="dashboard__amount" *matHeaderCellDef> {{ 'dashboard.products-list.value' | translate }} </th>
                    <td mat-cell class="dashboard__amount desktop" *matCellDef="let element"> 
                        {{ element.value / (element.units * element.quantity) | currency : 'USD' : 'symbol' : '1.0-0'}} 
                        @if (user.isAdmin) {
                            <br/>
                            <small>{{element.value | currency : 'USD' : 'symbol' : '1.0-0'}}</small>
                        }
                    </td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell class="dashboard__amount" *matHeaderCellDef> {{ 'dashboard.products-list.price' | translate }} </th>
                    <td mat-cell class="dashboard__amount desktop" *matCellDef="let element"> {{element.price | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
                </ng-container>   
                <ng-container matColumnDef="win">
                    <th mat-header-cell class="dashboard__amount" *matHeaderCellDef> {{ 'dashboard.products-list.earn' | translate }} </th>
                    <td mat-cell class="dashboard__amount desktop" *matCellDef="let element"> {{ (element.price - (element.value / (element.units * element.quantity) )) | currency : 'USD' : 'symbol' : '1.0-0'}} </td>
                </ng-container> 
                <ng-container matColumnDef="available">
                    <th mat-header-cell *matHeaderCellDef> {{ 'dashboard.products-list.disp' | translate }} </th>
                    <td mat-cell *matCellDef="let element" class="desktop"> {{element.available}}<span *ngIf="user.isAdmin">/{{element.units * element.quantity}} </span></td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell class="dashboard__status desktop" *matCellDef="let element"> 
                        <div [ngClass]="{
                            'red': (element.available * 100 / (element.units * element.quantity)) <= 33, 
                            'yellow': (element.available * 100 / (element.units * element.quantity)) > 33 && (element.available * 100 / (element.units * element.quantity)) <= 66,
                            'green': (element.available * 100 / (element.units * element.quantity)) > 66,
                            'empty': (element.available * 100 / (element.units * element.quantity)) === 0
                            }">
                            <span>{{element.available * 100 / (element.units * element.quantity)  | number:'1.0-0'}}</span>%
                            <div class="dashboard__status-progress">
                                <div class="progress-fill" style="height: 4px; width: {{ element.available * 100 / (element.units * element.quantity) }}%;"></div>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef stickyEnd> 
                        <button *ngIf="user.isAdmin" (click)="adminProduct()" mat-stroked-button color="primary" aria-label="Example icon button with a plus one icon">
                            <mat-icon>plus_one</mat-icon> {{ 'dashboard.products-list.new' | translate }}
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let element" class="desktop">
                        <a *ngIf="user.isAdmin" mat-mini-fab (click)="adminProduct(element)"><mat-icon>edit</mat-icon></a>
                        <button [disabled]="!isOpenStore" mat-mini-fab (click)="addToCar(element)" color="primary">
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    
        <mat-drawer #drawer class="dashboard__shopping-car" mode="over" position="end">
            <app-shopping-car
                (toggle)="drawer.toggle()"
                (removeItem)="removeItemFromCar($event)"
                (cancelTransaction)="cancelTransaction(); drawer.toggle()"
                (checkout)="checkout($event); drawer.toggle()"
            ></app-shopping-car>
        </mat-drawer>
    </mat-drawer-container>
</div>

