@import '../../../../assets/css/colors';

:host {
    .mdc-data-table__cell, .mdc-data-table__header-cell {
        padding: 0 8px;
    }

    .mdc-data-table__cell {
        vertical-align: top;
    }

    .dashboard {
        &__header {
            padding: 0 10px;
            justify-content: space-between;

            &-form {
                display: flex;

                .mat-mdc-form-field {
                    margin: 0 3px;
                }
            }
        }

        &__sub-header {
            display: flex;
            justify-content: space-between;
            margin: 15px;
            border-bottom: 0.5px solid $line;
            border-top: 0.5px solid $line;

            &-left {
                button {
                    height: 48px;
                }
            }

            &-right {
                display: flex;
                align-self: center;
                
                button {
                    margin: 0 8px;
                }
            }
        }

        &__shopping-car {
            min-width: 300px;
        }

        &__wrapper-container {
            background-color: $white;
        }

        &__wrapper {
            border: 1px solid $line; 
            min-height: 450px;
            background-color: $white;
            border-radius: 5px;
            max-height: 600px;
            overflow: auto;
            margin-top: 3px;

            small {
                color: $label;
            }
        }

        &__amount {
            text-align: right;
        }

        &__status {   
            text-align: center;
            position: relative;
            padding: 5px 0;

            span {
                font-size: 18px;
            }         
            .red {
                color: $error;
                
                .progress-fill {
                    background-color: $error;
                }
            }
            .yellow {
                color: $warning;

                .progress-fill {
                    background-color: $warning;
                }
            }
            .green {
                color: $success;

                .progress-fill {
                    background-color: $success;
                }
            }

            .empty {
                .dashboard__status-progress {
                    background-color: $white;
                }
            }

            &-progress {
                background-color: $line;
                height: 5px;
                box-sizing: border-box;
                width: 100%;
                border: 0.5px solid #666;
            }
        }
    }
}
