:host {
    min-width: 200px;
    
    ul {
        display: flex;
        flex-direction: column;

        li {
            cursor: pointer;
            margin: 0 25px;
        }
    }
        
    .angular-logo {
        max-width: 9.2rem;
        cursor: pointer;
    }
        

    .main {
        &-navbar {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 250px;
        } 

        &__logo {
            display: flex;
            width: 140px;
        }
    } 
}
    