<mat-toolbar>
    <span routerLink="/home">Slepy</span>
    <span class="example-spacer"></span>
    <button routerLink="/dashboard" mat-button aria-label="Example icon-button with heart icon">
        <small>Store</small>
    </button>
    <button routerLink="/sells" mat-button aria-label="Example icon-button with share icon">
        <small>Sells</small>
    </button>
    <button routerLink="/history" mat-button aria-label="Example icon-button with share icon">
        <small>Transactions</small>
    </button>
    <button (click)="logout()" mat-button aria-label="Example icon-button with share icon">
        <small>Logout</small>
    </button>
</mat-toolbar>