<mat-toolbar class="top-navbar">
    <div class="top-navbar__left">
        <mat-form-field subscriptSizing="dynamic" class="top-navbar__lang">
            <mat-label>{{ 'top-navbar.language' | translate }}</mat-label>
            <select 
                matNativeControl
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="language"
                (change)="setTransLanguage()"
            >
              <option value="es">Espanol</option>
              <option value="en">English</option>
            </select>
        </mat-form-field>
    </div>
    <div class="top-navbar__right">
        <button routerLink="/dashboard" routerLinkActive="active" mat-button aria-label="Example icon-button with heart icon">
            <small>{{ 'top-navbar.store' | translate }}</small>
        </button>
        <button routerLink="/sells" routerLinkActive="active" mat-button aria-label="Example icon-button with share icon">
            <small>{{ 'top-navbar.sells' | translate }}</small>
        </button>
        <button routerLink="/history" routerLinkActive="active" mat-button aria-label="Example icon-button with share icon">
            <small>{{ 'top-navbar.transactions' | translate }}</small>
        </button>
    </div>
</mat-toolbar>