<mat-toolbar>
    <div>
        <mat-form-field>
            <mat-label>{{ 'top-navbar.language' | translate }}</mat-label>
            <select 
                matNativeControl
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="language"
                (change)="setTransLanguage()"
            >
              <option value="es">Espanol</option>
              <option value="en">English</option>
            </select>
        </mat-form-field>
    </div>
    <span class="example-spacer"></span>
    <button routerLink="/dashboard" mat-button aria-label="Example icon-button with heart icon">
        <small>{{ 'top-navbar.store' | translate }}</small>
    </button>
    <button routerLink="/sells" mat-button aria-label="Example icon-button with share icon">
        <small>{{ 'top-navbar.sells' | translate }}</small>
    </button>
    <button routerLink="/history" mat-button aria-label="Example icon-button with share icon">
        <small>{{ 'top-navbar.transactions' | translate }}</small>
    </button>
    <button (click)="logout()" mat-button aria-label="Example icon-button with share icon">
        <small>{{ 'top-navbar.logout' | translate }}</small>
    </button>
</mat-toolbar>