<section class="login">
  <h1 class="title">{{ "login.title" | translate }}</h1>
  <form [formGroup]="loginForm" class="login__form">
    <mat-form-field>
      <mat-label>{{ 'login.email' | translate }}</mat-label>
      <input matInput 
        required="true" 
        type="email"
        formControlName="email"
        placeholder="example@mail.com"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'login.pswd' | translate }}</mat-label>
      <input matInput 
        required="true" 
        type="password"
        formControlName="password"
      >
    </mat-form-field>
    <div>
      <label class="error">{{errorMessage}}</label>
      <label class="success">{{successMessage}}</label>
    </div>
    <div>
      <button type="submit" mat-flat-button color="primary" (click)="loginUser(loginForm.value)">{{ 'login.login' | translate }}</button>
    </div>
  </form>
</section>