<br />
<section id="contact-form">
    <h1>Iniciar Sesión</h1>
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label class="small">Correo Electrónico</label>
            <input type="email"
                   formControlName="email"
                   class="form-control col-sm-6"
                   required
                   placeholder="example@mail.com">
          </div>
          <div class="form-group">
            <label class="small">Contraseña</label>
            <input type="password" class="form-control col-sm-6" formControlName="password" required>
          </div>
          <div class="col-sm-8">
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
          </div>
          <div>
            <button type="submit" (click)="loginUser(loginForm.value)" class="btn btn-small btn-blue">Ingresar</button>
          </div>
        </form>
</section>