<table>
    <thead>
        <tr>
            <th>{{ 'transactions.date' | translate }}</th>
            <th>{{ 'common.income' | translate }}</th>
            <th>{{ 'common.outcome' | translate }}</th>
            <th>{{ 'common.earning' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let transaction of transactions">
            <tr *ngFor="let detail of transaction.details">
                <td>{{transaction.date}}</td>
                <td>{{detail.incomes | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                <td>{{detail.outcomes | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                <td>{{detail.earnings | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
            </tr>
        </ng-container>        
    </tbody>
</table>
