@import '../../../../assets/css/break-points';

:host {
    width: 100%;

    .wrapper {
        display: flex;
        justify-content: center;

        &__page {
            width: 100%;
        }
    }

    @media only screen and (min-width: $s) {
        .wrapper {
            &__page {
                width: 80%;
            }
        }
    }

    @media only screen and (min-width: $l) {
        .wrapper {
            &__page {
                width: 60%;
            }
        }
    }
}