<div class="sells">
    <div class="sells__header">
        <div>
            @if (!openStore) {
                <span>{{ 'sells.title' | translate }}</span>
            }
            @if (openStore) {
                <span>{{ 'sells.date' | translate: {value: currentDate} }}</span>
            }
        </div>
        <div class="dashboard__header-rigth">
            <button mat-flat-button color="accent" (click)="openCloseSells()">
                @if (!openStore) {
                    <span>{{ 'sells.open-store' | translate }}</span>
                }
                @if (openStore) {
                    <span>{{ 'sells.close-store' | translate }}</span>
                }
            </button>
        </div>
    </div>
    <div class="sells__content">
        <table>
            <thead>
                <tr>
                    <th>{{ 'sells.detail' | translate}}</th>
                    <th>{{ 'common.outcome' | translate}}</th>
                    <th>{{ 'common.income' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container  *ngFor="let sell of sells">
                    <tr *ngFor="let product of sell.products">
                        <td>{{product.name}} x {{product.units}}</td>
                        <td>
                            @if (sell.own) {
                                <span>{{product.value * product.units | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                            }
                        </td>
                        <td>
                            @if (!sell.own) {
                                <span>{{product.price * product.units | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                            }
                        </td>
                    </tr>
                </ng-container>
                
                <tr>
                    <td>{{ 'common.total' | translate}}</td>
                    <td>{{totalOutcome | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                    <td>{{totalIncome | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <table>
                <thead>
                    <tr>
                        <th colspan="2"><h1>{{ 'sells.summary' | translate}}</h1></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ "sells.total-income" | translate }}</td>
                        <td>{{totalIncome | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>{{ "sells.total-outcome" | translate }}</td>
                        <td>{{totalOutcome | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                    </tr>
                    <tr>
                        <td>{{ 'sells.total-earning' | translate }}</td>
                        <td>{{earnings | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
