<div class="sells">
    <div class="sells__header">
        @if (!openStore) {
            <span class="label">{{ 'sells.title' | translate }}</span>
        }
        @if (openStore) {
            <span class="label">{{ 'sells.date' | translate: {value: ' '} }} <span class="date">{{currentDate.slice(0, 10)}}</span></span>
        }
        <button mat-mini-fab [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openCloseSells()">
                <mat-icon>launch</mat-icon>
                <span>{{ (!openStore ? 'sells.open-store' : 'sells.close-store') | translate }}</span>
            </button>
        </mat-menu>
    </div>
    <div class="sells__content">
        <div class="sells__content-summary">
            <label class="title">{{ 'sells.summary' | translate}}</label>
            <div>
                <div class="sells__content-summary-item">
                    <div class="sells__content-summary-desc">
                        <label>{{ "sells.total-income" | translate }}</label>
                    </div>
                    <div class="sells__content-summary-val">
                        <label>{{totalIncome | currency : 'USD' : 'symbol' : '1.0-0'}}</label>
                    </div>
                </div>
                <div class="sells__content-summary-item">
                    <div class="sells__content-summary-desc">
                        <label>{{ "sells.total-outcome" | translate }}</label>
                    </div>
                    <div class="sells__content-summary-val">
                        <label>{{totalOutcome | currency : 'USD' : 'symbol' : '1.0-0'}}</label>
                    </div>
                </div>
                <div class="sells__content-summary-item">
                    <div class="sells__content-summary-desc">
                        <label>{{ 'sells.total-earning' | translate }}</label>
                    </div>
                    <div class="sells__content-summary-val">
                        <label>{{earnings | currency : 'USD' : 'symbol' : '1.0-0'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <table class="sells__content-movements">
            <thead>
                <tr>
                    <th><label class="label">{{ 'sells.detail' | translate}}</label></th>
                    <th><label class="label">{{ 'common.outcome' | translate}}</label></th>
                    <th><label class="label">{{ 'common.income' | translate}}</label></th>
                </tr>
            </thead>
            <tbody>
                <ng-container  *ngFor="let sell of sells">
                    <tr *ngFor="let product of sell.products">
                        <td>{{product.name}} x {{product.units}}</td>
                        <td>
                            @if (sell.own) {
                                <span>{{product.value * product.units | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                            }
                        </td>
                        <td>
                            @if (!sell.own) {
                                <span>{{product.price * product.units | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
                            }
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="sells.length === 0">
                    <td class="no-sells" colspan="3">
                        <label>{{ 'sells.no-sells' | translate}}</label>
                    </td>
                </tr>
                
                <tr>
                    <td class="label">{{ 'common.total' | translate}}</td>
                    <td class="total">{{totalOutcome | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                    <td class="total">{{totalIncome | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
